@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BEM VINDO</h1>
    <p>Cadastro Do Usuario</p>
    <img src="https://i.gifer.com/embedded/download/ZiAf.gif" width="200" />
</div>
					