@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


						<!--Start rollercoin.com code-->
						<a href="https://rollercoin.com/?r=kwb7pdlo">
							<img src="//rollercoin.com/static/img/public_img/gen2/w970h250.gif" alt="970h250"/>
						</a>
						<!--End rollercoin.com code-->
					